DynData/Service References/LKQImage/Image5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="LKQCorp.LKQIntegrationService" elementFormDefault="qualified" targetNamespace="LKQCorp.LKQIntegrationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://lkqintegrationqc.ekeyconnect.com/Image.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LKQIntegrationService.Core.Image.Entities" />
  <xs:import schemaLocation="https://lkqintegrationqc.ekeyconnect.com/Image.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/IntegrationFeatureService.Core.Entity" />
  <xs:element name="UploadImageInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LKQIntegrationService.Core.Image.Entities" minOccurs="0" name="request" nillable="true" type="q1:ImageUploadRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IntegrationFeatureService.Core.Entity" minOccurs="0" name="UploadImageInformationResult" nillable="true" type="q2:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>